mlflow==2.3.1
boto3==1.26.90
seldon-core==1.16.0
greensenti @ git+https://git@github.com/KhaosResearch/greensenti.git@v0.5.1
landcoverpy @ git+https://git@github.com/KhaosResearch/landcoverpy.git@mlops